<header class="bg-gray-800 text-white w-full z-10 shadow-md">
  <div class="container mx-auto flex items-center justify-between py-4 px-6">
    <%= link_to "Sample App", root_path, id: "logo", class: "text-2xl font-bold hover:text-gray-300" %>
    <nav>
      <ul class="flex items-center space-x-4">
        <li><%= link_to "Home", root_path, class: "hover:text-gray-300" %></li>
        <li><%= link_to "Help", help_path, class: "hover:text-gray-300" %></li>
        <% if logged_in? %>
          <li><%= link_to "Users", '#', class: "hover:text-gray-300" %></li>
          <li class="relative group">
            <button class="flex items-center hover:text-gray-300 focus:outline-none">
              Account <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
            </button>
            <ul id="dropdown-menu" class="absolute right-0 mt-2 w-48 bg-white text-gray-800 rounded-md shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-opacity duration-300 ease-in-out z-20">
              <li><%= link_to "Profile", current_user, class: "block px-4 py-2 hover:bg-gray-100" %></li>
              <li><%= link_to "Settings", '#', class: "block px-4 py-2 hover:bg-gray-100" %></li>
              <li class="border-t border-gray-200"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete, data: { turbo_method: :delete }, class: "block px-4 py-2 hover:bg-gray-100" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path, class: "hover:text-gray-300" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
